<mat-card>
  <mat-card-header>
    <mat-card-title>
      Edit
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Enter name"
        [(ngModel)]="person.name"
        [disabled]="!editMode"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Enter age"
        [(ngModel)]="person.age"
        [disabled]="!editMode"
      />
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="16px">
      <label>Gender:</label>
      <mat-radio-group
        aria-label="Select an gender"
        [(ngModel)]="person.gender"
        fxLayoutGap="16px"
      >
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="doSave()">Save</button>
  </mat-card-actions>
</mat-card>
