<mat-toolbar color="accent">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>Your current SPA Skills:</div>
    <div fxLayoutGap="10px">
      <button mat-raised-button (click)="addItem()" color="primary">Add</button>
      <mat-slide-toggle [formControl]="fcToggle" color="accent"
        >ShowAll</mat-slide-toggle
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content fxLayout="column">
    <ng-container *ngFor="let sk of view$ | async" class="item">
      <app-skill-row
        [skill]="sk"
        (itemDeleted)="deleteItem($event)"
        (itemCompleted)="toggleItemComplete($event)"
      ></app-skill-row>
    </ng-container>
  </mat-card-content>
</mat-card>
