<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutGap="1rem">
    <div fxHide.gt-xs (click)="toggleMenu()" class="clickable">
      <mat-icon color="accent">menu</mat-icon>
    </div>
    <div><img width="50px" src="/assets/images/angular.svg" /></div>
    <div fxHide.lt-md="true" class="navTitle">
      {{ title }}
    </div>
    <div
      fxFlex="1 1 auto"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="1rem"
    >
      <div
        *ngFor="let mi of menuItems | async"
        routerLink="{{ '/' + mi.url }}"
        routerLinkActive="navLink-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navLink"
      >
        {{ mi.label }}
      </div>
    </div>
    <div fxHide fxShow.lt-lg (click)="toggleApps()" class="clickable">
      <mat-icon color="accent">apps</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
