<div class="container">
  <h1 class="centered">These are the skills</h1>
  <div class="centered">
    <table>
      <colgroup>
        <col style="width: 10%;" />
        <col style="width: 60%;" />
        <col style="width: 15%;" />
        <col style="width: 15%;" />
      </colgroup>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Hours</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of skills" (click)="removeSkill(s)">
          <td>{{ s.id }}</td>
          <td>{{ s.name }}</td>
          <td>{{ s.hours }}</td>
          <td>{{ s.completed }}</td>
        </tr>
      </tbody>
    </table>
    <h3 class="centered">Hover a Skill & Click to remove</h3>
  </div>
  <div class="addRow">
    <label>Add a Skill:</label><input type="text" [(ngModel)]="skillToAdd" />
    <a (click)="addSkill()">Add Skill</a>
    <a (click)="saveSkills()">Save Skills</a>
  </div>
</div>
