<mat-toolbar fxFill color="primary">
  <mat-toolbar-row
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem"
    class="sidebar"
  >
    <button mat-mini-fab (click)="toggleTheme()">
      <mat-icon fxFlexAlign="center" class="cmdIcon"
        >brightness_medium</mat-icon
      >
    </button>
    <button mat-mini-fab (click)="toggleEditor()">
      <mat-icon fxFlexAlign="center" class="cmdIcon">create</mat-icon>
    </button>
    <button mat-mini-fab (click)="uploadCloud()">
      <mat-icon fxFlexAlign="center" class="cmdIcon">cloud_upload</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
