<mat-card>
  <mat-card-header>
    <mat-card-title>Click the button to login</mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <button mat-raised-button color="accent" (click)="logIn()">
      Login using Azure AD
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Get files from OneDrive</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <button mat-raised-button color="accent" (click)="getRecentFiles()">
      Get Recent One Drive Files
    </button>
    <div class="files" *ngIf="recentFiles">
      <div *ngFor="let f of recentFiles" class="items">
        <span>{{ f.remoteItem.name }}</span
        ><span>{{ f.remoteItem.createdDateTime | date: "long" }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>To create an event use from below</mat-card-title>
    <mat-card-subtitle>
      <a
        href="https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0"
        target="_blank"
        >Microsoft Graph API Documentation</a
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput placeholder="Event Title" [(ngModel)]="evt.Subject" />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="What is it about"
        [(ngModel)]="evt.Body.Content"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        [(ngModel)]="evt.Start.DateTime"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="createEvent()">
      Create Event in your Outlook Calendar
    </button>
  </mat-card-content>
</mat-card>
