<mat-card>
  <mat-card-header>
    <mat-card-title>
      Custom Operators
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    class="cmdItems"
  >
    <a mat-raised-button color="accent" (click)="simpleFilter()"
      >Simple Filter</a
    >
    <a mat-raised-button color="accent" (click)="usePow()">Pow</a>
    <a mat-raised-button color="accent" (click)="usingOperators()"
      >Using Operators</a
    >
    <a mat-raised-button color="accent" (click)="errHandling()"
      >Global Err Handler</a
    >
    <a mat-raised-button color="accent" (click)="utilFunction()"
      >Util Function</a
    >
    <!-- <a mat-raised-button color="accent" (click)="resolveParentChild()"
      >Resolve Parent Child</a
    > -->
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>
      Result
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    See Console for output
  </mat-card-content>
</mat-card>
