@import 'resets.scss';
@import 'theme.scss';
@import 'stylevars.scss';
@import 'mat-overrides.scss';

@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';

// @import "tables.scss";
// @import "forms.scss";

.clickable {
  cursor: pointer;
}

ul > li {
  cursor: pointer;
  list-style: none;
  margin: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
