<mat-card>
  <mat-card-header>
    <mat-card-title>
      Watch console for output
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="space-between start"
    class="cmdItems"
  >
    <a mat-raised-button color="accent" (click)="copySpread()">Shallow Clone</a>
    <a mat-raised-button color="accent" (click)="deepCloning()">Deep Cloning</a>
    <a mat-raised-button color="accent" (click)="impureFunction()">Impure</a>
    <a mat-raised-button color="accent" (click)="pureFunction()">Pure</a>
    <a mat-raised-button color="accent" (click)="useDestructuring()"
      >Destructuring</a
    >
  </mat-card-content>
</mat-card>
