<mat-card>
  <mat-card-header>
    <mat-card-title>FoodHttpComponent</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam minima
    repudiandae quasi qui, a nam sed ratione non aspernatur distinctio, deserunt
    in consectetur commodi fuga quo! Adipisci assumenda provident sequi.
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="getFood()">Load Food</button>
    <button mat-raised-button (click)="addFood()">Add Food</button>
  </mat-card-actions>
</mat-card>
