<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="ms.visible$ | async"
    [mode]="ms.position$ | async"
  >
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        Administration
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="menu">
      <button
        mat-raised-button
        color="accent"
        *ngFor="let item of links"
        [routerLink]="['./' + item.url]"
      >
        {{ item.title }}
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      gdAreas="content | editor"
      gdRows="64px auto 200px"
      class="workbench"
      [ngStyle]="getWorbenchStyle()"
    >
      <div gdArea="content" class="workbench">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
