<div fxLayout="column">
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <div fxFlex="70">
                <span>Details</span>
            </div>
            <div fxFlex="30" class="rightCell">
                <button (click)="addDetail()" mat-button>New</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="form">
        <table cellspacing="0" cellpadding="0" class="table table-hover">
            <colgroup>                
                <col style="width: 40%" />
                <col style="width: 15%" />
                <col style="width: 30%" />
                <col style="width: 5%" />
                <col style="width: 5%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">Text</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Account</th>
                    <th colspan="2" scope="col"></th>
                </tr>
            </thead>
            <tbody id="tblVoucherDetailsBody">
                <tr *ngFor="let vd of details">
                    <td> {{vd.Text}}</td>
                    <td>{{vd.Amount | currency:' €'}}</td>
                    <td> {{vd.AccountID}}</td>
                    <td>
                        <button (click)="deleteDetail(vd)" mat-button color="primary">Delete</button>
                    </td>
                    <td>
                        <button (click)="selectDetail(vd)" mat-button color="primary">Edit</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>