<app-markdown-renderer [md]="'watch'"></app-markdown-renderer>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Watch RxJS
    </mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <a mat-raised-button color="accent" (click)="watchRxJS()">Start watching</a>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>
      Result
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    See Debug Window (RXJS watcher) for output
  </mat-card-content>
</mat-card>
