<mat-card>
  <mat-card-header>
    <mat-card-title>Child Routes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Investigate Routes in app.routing.module.ts & demo.module.ts<br />
    Investigate Router-outlets in app.component.html und demo.component.html
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Current Route Config in demo.module.ts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre>{{ demoRoutes | json }}</pre>
  </mat-card-content>
</mat-card>
