<mat-card>
  <mat-card-header>
    <mat-card-title>Enjoy the scroll ...</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cdk-virtual-scroll-viewport [itemSize]="18 * 7">
      <div
        class="row"
        *cdkVirtualFor="
          let item of items;
          let index = index;
          let even = even;
          let odd = odd
        "
        [class.example-alternate]="odd"
      >
        <div class="example-item-detail">Item: {{ item }}</div>
        <div class="example-item-detail">Index: {{ index }}</div>
        <div class="example-item-detail">Event: {{ even ? "Yes" : "No" }}</div>
        <div class="example-item-detail">Odd: {{ odd ? "Yes" : "No" }}</div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
