<mat-card>
  <mat-card-header>
    <mat-card-title>
      Personlist
    </mat-card-title>
  </mat-card-header>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of persons">
        <td>{{ p.name }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.age }}</td>
        <td><a (click)="selectPerson(p)">Select</a></td>
      </tr>
    </tbody>
  </table>
</mat-card>
