//Provides Theme funcitonality
@import "~@angular/material/theming";
@include mat-core();

//Mixin for common styles
@include mat-core();

//Pick colors here: https://material.io/color/
$custom-primary: mat-palette($mat-brown, 400);
$custom-accent: mat-palette($mat-grey, 400);
$custom-warn: mat-palette($mat-red);
$custom-fg: mat-palette($mat-red);
$custom-bg: mat-palette($mat-red);

//Build theme
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

//Include theme
@include angular-material-theme($custom-theme);
