.phoneClass {
	color: black;
	margin: 1rem;
	padding: 0.5rem;
	height: 40px;
	background-color: yellow;
}

.notPhoneClass {
	color: white;
	margin: 1rem;
	padding: 0.5rem;
	height: 40px;
	background-color: green;
}
