<div
  fxLayout="row nowrap"
  fxLayoutAlign="start center"
  fxFill
  fxLayoutGap="10px"
>
  <div fxFlex="2 1 auto">
    {{ item.title }}
  </div>
  <div fxFlex="2 1 150px">Topic: {{ item.topicid }}</div>
  <div>
    <mat-slide-toggle
      color="primary"
      (change)="changeVisibility()"
      [checked]="item.visible"
      >Visible</mat-slide-toggle
    >
  </div>
  <div fxFlex="1 1 100px" (click)="delete()">
    <button mat-raised-button color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
