<div [formGroup]="skillForm" (ngSubmit)="saveForm()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Skills Sheet</mat-card-title>
      <mat-card-subtitle>Add your skills</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Enter Name:"
        />
      </mat-form-field>
      <div *ngIf="skillForm.get('name').value">
        <h2>Skills</h2>

        <div
          formArrayName="skillsGrp"
          *ngFor="let skill of getElementsInFormArray(); let i = index"
        >
          <div [formGroupName]="i" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <input
                matInput
                placeholder="Skill Name"
                formControlName="skillname"
              />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Years" formControlName="years" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="addSkill()">Add Skill</button>
      <button mat-button (click)="saveForm()">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
