<mat-toolbar>
  <mat-toolbar-row>
    <mat-form-field>
      <input
        matInput
        (keyup)="handleFilter()"
        [(ngModel)]="filter"
        type="text"
        placeholder=""
      />
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Demos
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      fxLayout="column"
      fxLayoutGap="5px"
      class="list"
    >
      <app-demo-row
        *ngFor="let d of demos$ | async"
        [item]="d"
        (onDelete)="deleteItem($event)"
        (onSlide)="changeVisibility($event)"
        cdkDrag
        class="box"
      ></app-demo-row>
    </div>
  </mat-card-content>
</mat-card>
