<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="ms.visible$ | async"
    [mode]="ms.position$ | async"
  >
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        {{ title }}
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="menu">
      <button
        mat-raised-button
        color="accent"
        *ngFor="let item of demos$ | async"
        [routerLink]="['./' + item.url]"
      >
        {{ item.title }}
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxFlex="8 8 auto" class="workbench" [ngStyle]="getWorbenchStyle()">
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <h4>{{ header }}</h4>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="workbench">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
