<app-markdown-renderer [md]="'interceptor'"></app-markdown-renderer>
<mat-card>
  <mat-card-header>
    <mat-card-title>Dynamic Component Loading</mat-card-title>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="httpCall()">Execute HttpCall</button>
    <!-- <button mat-raised-button (click)="requestXMLData()">
      Request XML Data
    </button>
    <button mat-raised-button (click)="request404Data()">
      Request 404 Data
    </button> -->
  </mat-card-actions>
</mat-card>
