<mat-card>
  <mat-card-header>
    <mat-card-title>
      Classic View Model
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let t of tasks">{{ t.id }} - {{ t.title }}</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Using async pipe
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let t of tasks$ | async">{{ t.id }} - {{ t.title }}</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Completed task with ngModel & async pipe
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre>{{ completed$ | async | json }}</pre>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="tasks$ | async as arTasks; else loading">
  <mat-card-header>
    <mat-card-title>
      Aliasing
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let t of arTasks">
      <span>{{ t.title }}</span>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <mat-card>
    I am loading ...
  </mat-card>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      ngModel on prop & async - One way binding
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Title:"
        [ngModel]="(completed$ | async)?.title"
      />
    </mat-form-field>
  </mat-card-content>
</mat-card>
