<mat-card>
  <mat-card-header>
    <mat-card-title>
      Transformation
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    class="cmdItems"
  >
    <a mat-raised-button color="accent" (click)="useMapTo()">mapTo()</a>
    <a mat-raised-button color="accent" (click)="useMergeMap()">mergeMap()</a>
    <a mat-raised-button color="accent" (click)="useConcatMap()">concatMap()</a>
    <a mat-raised-button color="accent" (click)="useSwitchMap()">switchMap()</a>
    <a mat-raised-button color="accent" (click)="useExhaustMap()"
      >exhaustMap()</a
    >
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>
      Result
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    See Console for output
  </mat-card-content>
</mat-card>
