<mat-card>
  <mat-card-header>
    <mat-card-title>
      Error handling
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    class="cmdItems"
  >
    <a mat-raised-button color="accent" (click)="whereToHandle()"
      >Where to handle an error</a
    >
    <a mat-raised-button color="accent" (click)="simpleHttpWithCatch()"
      >error handling</a
    >
    <a mat-raised-button color="accent" (click)="tryCatchAlike()"
      >catchError()</a
    >
    <a mat-raised-button color="accent" (click)="fallbackValue()">Fallback()</a>

    <a mat-raised-button color="accent" (click)="useRetry()">Retry()</a>
    <a mat-raised-button color="accent" (click)="useRetryWhen()">retryWhen()</a>

    <a mat-raised-button color="accent" (click)="catchRethrowReplace()"
      >Catch Rethrow & Replace()</a
    >
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>
      Result
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    See Console for output
  </mat-card-content>
</mat-card>
