.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;

  div {
    margin: 2rem;
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}
