<mat-card>
  <mat-card-header>
    <mat-card-title>
      Combine
    </mat-card-title>
  </mat-card-header>

  <mat-card-content
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    class="cmdItems"
  >
    <a mat-raised-button color="accent" (click)="useConcat()">concat()</a>
    <a mat-raised-button color="accent" (click)="useMerge()">merge()</a>
    <a mat-raised-button color="accent" (click)="useZip()">zip()</a>
    <a mat-raised-button color="accent" (click)="useForkJoin()">forkJoin()</a>
    <a mat-raised-button color="accent" (click)="leftJoin()">Left Join</a>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>
      Result
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    See Console for output
  </mat-card-content>
</mat-card>
