a {
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

.my-big {
  height: 200px;
  width: 100%;
  background-color: fuchsia;
  margin-top: 30px;
}

.my-small {
  height: 100px;
  width: 100%;
  background-color: fuchsia;
  margin-top: 30px;
}
